// BODY
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

// MAIN
main {
    margin-top: 8rem;
    flex: 1 0 auto;
}

// FOOTER
footer.footer-custom{
    background: white;
    .footer-copyright{
        background: white;
        .container{                
            > * {                
                margin: 0.25rem;                
                i.fab, i.fas{
                    margin-right: 0.25rem;
                } 
            }
            @media screen and (max-width: 600px){
                > * {
                    text-align: center;
                    justify-content: center;                    
                    float: unset !important;                    
                }
            }
        }
    }
}

// OVERRIDE GRID WITH FLEX
.row.row-flex {
    display: flex !important;
    flex-wrap: wrap;
    & > .col {        
        display: flex;
        flex-direction: column;
        .card-panel , .card{
        flex: 1;
        display: flex;
        flex-direction: column;
        .card-content{
            flex: 1 0 auto;
        }
        }
    }
    
    }
    
// JUST NAVIGATION
.header{    
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    transition: 0.2s all ease-in-out;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    &.float{
        box-shadow: 0 2px 5px rgba(0,0,0,0.12);
    }
    img{
        @media screen and (max-width: 253px){
            display: none;
        }
        float: left;
        max-height: 1.5rem;
    }
    .row{
        line-height: 4rem;
        width: 100%;
        margin: 0;
    }
}
.navigation{                
    .tab a{
        color: #424242;
        text-transform: initial;
    }
}

// HOVERABLE COMPONENT
.hoverable {    
    &:hover { 
        border-color: rgba(0,0,0,0.08);       
        box-shadow: 0 4px 17px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.095);
    }
}

// FIXED ACTION BUTTON TRANSITION
.fixed-action-btn ul li a{
    transition: 0.15s;
}