// CIRCLE DISPLAY PROFILE ON HOMEPAGE
.circle-user{
    display: inline-block;
    width: 8rem;
    line-height: 8rem;
    border-radius: 50%;
    > * {        
        margin: auto;
        vertical-align: middle;
        font-size: 4rem;
    }
}

// CARD WITH BORDER, MOCKING UP GOOGLE STYLE CARD
.card.with-border{    
    border: 1px solid rgba(0,0,0,0.12);    
    border-radius: 0.5rem;
    .card-title{
        font-size: large !important;
    }
    .card-content{
        padding: 1rem 0.5rem;
        .row{
            margin: 0;
        }
    }
    .card-action{
        padding: 0.5rem;
        a{
            padding: 0 0.5rem;
        }
    }
    img{
        max-height: 8rem;
    }
    .card-action, .card-action > *{
        text-transform: initial !important;
    }
    > *:nth-child(1){
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }
    > *:nth-last-child(1){
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }
    &:not(:hover){
        box-shadow: unset;
    }
}