// SEARCH BAR ON TOP OF TABLE
.input-field{    
    button{
        position: absolute;
        z-index: 0;
        right: 0;        
    }
}

// BORDER DESIGNED FOR TABLE
.with-border:not(.card){
    padding: 0.5rem;
    border: 1px solid rgba(0,0,0,0.08);
    border-radius: 0.5rem;
}

// OVERFLOW WRAPPER, DESIGNED FOR TABLE
.overflow-wrapper{
    display: block;
    position: relative;    
    overflow: auto;    
    table{
        white-space: nowrap;
    }      
}

// MAKE TABLE ROWS BEHAVE LIKE LIN
table{
    position: relative;
    &.table-links tr{
        cursor: pointer;
    }    
    th{
        position: sticky;
        top: 0;        
        vertical-align: baseline;
        background: #f4f4f4;
        border-radius: unset;
        white-space: normal;
        &:nth-child(1){
            border-top-left-radius: 5px;
        }
        &:nth-last-child(1){
            border-top-right-radius: 5px;
        }
        span, i{
            font-size: 12pt !important;
        }                
    }
    tr{
        border-bottom: 1px solid rgba(0,0,0,0.12);
    }    
}